extends layout 

block content 


  h1 The Library
  br
  br

  
  form(action="/books/search" method="get")
    label(for="search" class="search-feature")
      input(id="search" type="search" name="query")
      input(class="button" id="submit" type="submit" value="Search")
      br
      p There are #{books.length} books in your search.
  p
    a.button(href='/books/new') Create New Book  

  br
  br
  a.button(href="/") All books
  br
  br

  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody

    each book in books
      tr
        td
          a(href=`/books/${book.id}`)= book.title
        td= book.author
        td= book.genre
        td= book.year
